@charset "utf-8";
/* CSS Document */

/*custom font*/
 @font-face { font-family: "Editors Note Text"; src: url("fonts/Editor'sNoteText-Thin.otf"); } 
 @font-face { font-family: "Editors Note Text"; font-weight: thin; src: url("fonts/Editor'sNoteText-Thin.otf");}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #EEEBE4;
  font-family: "DM Sans", sans-serif;
}

/*subtitle*/
.subtitle {
  font-family: "DM Sans", sans-serif;
	color: white;
	font-weight: 300;
	background-color: #172C0D;
	padding: 8px;
	text-align: center;
	margin: 0;
}

/*navigation bar*/
.topnav {
  background-color: #F2C9E8;
  display: flex;
  justify-content: flex-end;
}

.topnav a {
  padding: 15px;
  text-decoration: none;
  color: black;
}

.topnav a:hover {
  text-decoration: underline;
}

/*hero section and background image*/
.contact-hero {
  position: relative;
  height: 100vh;
  background: url("images/journaling-and-matcha.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*dark overlay*/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
}

/*contact form content*/
.contact-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  width: 90%;
  max-width: 400px;
}

/*headings*/
.company {
	position: absolute;
  top: 40px;     /* distance from top */
  left: 40px;    /* distance from left */

	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 50px;
	text-align: left;
	color: white;
	
	margin: 0; 
  z-index: 3;
}

.contact-content h2 {
  font-family: "Editors Note Text", serif;
  font-size: 40px;
  margin-bottom: 20px;
}

/*contact form*/
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*inputs*/
.form input,
.form textarea,
.form select {
  padding: 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: rgba(255,255,255,0.9);
}

/*text boxes*/
textarea {
  resize: none;
  height: 80px;
}

/* BUTTON */
#sendBtn {
  margin-top: 10px;
  background-color: #87A47A;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px;
  cursor: pointer;
  transition: 0.3s;
}

#sendBtn:hover {
  background-color: #F2C9E8;
  color: black;
}

/*footer*/
footer {
  text-align: center;
  background-color: #172C0D;
  color: white;
  padding: 10px;
}

/*responsiveness*/
@media (max-width: 600px) {
  .topnav {
    flex-direction: column;
    align-items: center;
  }

  .contact-content {
    width: 90%;
  }
}

