@charset "utf-8";
/* CSS Document */

/*custom font*/
 @font-face { font-family: "Editors Note Text"; src: url("fonts/Editor'sNoteText-Thin.otf"); } 
 @font-face { font-family: "Editors Note Text"; font-weight: thin; src: url("fonts/Editor'sNoteText-Thin.otf");}

*{
	box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
	background-color: #EEEBE4;
	color: #0F2503;	
}

/*containers*/
#container {
	max-width: 1100px;
	margin: 0 auto;
	background-color: transparent;
	border: none;
	border-radius: 8px;
	padding: 20px;
}

canvas {
  margin-top: 15px;
  border-radius: 10px;
  background-color: #F6F3EC;
}

/*main heading*/
h1 {
	font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
	text-align: left;
	padding-top: 10px
}

/*headings*/
h2, h3 {
  font-family: "Editors Note Text", "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 390;
  font-style: normal;
	font-size: 30px;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
	text-align: left;
	color: #133200;
	padding-top: 10px
}

/*body paragraphs*/
section p {
  	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 333px;
  	font-style: normal;
	line-height: 1.6;
	text-align: justify;
	color: black;
}

/*header*/
header {
	font-family: "Andale Mono", monospace;
	text-align: center;
}

header > h1 {
	margin: 0;
}

.subtitle {
	color: #000000;
	display: none;
}

header:hover .subtitle {
    display: block;
}

/*navigation bar*/
.topnav {
 	background-color: #F2C9E8;
 	overflow: hidden;
	margin-left: auto;
	border-radius: none;
	
	
	display: flex;
	flex-direction: row;
 	justify-content: flex-end;
}

.topnav a:link {
 	color: black;
 	text-align: center;
 	padding: 15px 16px;
 	text-decoration: none;
	font-family: "DM Sans", sans-serif;
 	font-size: 18px;
}

/*change the color of links on hover */
.topnav a:hover {
	color: black;
	text-decoration: underline;
}

/*add a color to the active/current link */
.topnav a:active {
  background-color: #0F2503;
  color: white;
}

/*how the link will look when visited*/
.topnav a:visited {
	color: black;
	text-decoration: underline;
}

/*images and text (layout and size)*/
.intro,
.history,
.benefits-section {
	display: flex;
	align-items: center;
	gap: 40px;
	margin-bottom: 60px;
}

.history {
	flex-direction: row-reverse;
}

.intro img,
.history img,
.benefits-section img {
	width: 300px;
	height: 300px;
	border-radius: 12px;
}

/*benefits list*/
.benefits-grid {
	display: flex;
	flex-direction: column;   /* COLUMN layout */
	gap: 15px;
	margin-top: 20px;
}

.benefit-card {
	background-color: #87A47A;
	color: white;
	padding: 15px;
	border-radius: 10px;
	font-family: "DM Sans", sans-serif;
}


/*footer*/
footer {
	position: relative;
    text-align: center;
    border-top: 2px;
    padding-top: 8px;
	padding-bottom: 8px;
    background-color: #172C0D;
    color: #FFF;
}

/*mobile query*/
@media (max-width: 600px) {
   .intro,
  .history,
  .benefits-section {
    flex-direction: column;
    text-align: center;
  }

  .intro img,
  .history img,
  .benefits-section img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 600px) {
  #container {
    padding: 20px;
  }
}

  h1 {
    font-size: 28px;
  }

  .img-center {
    width: 100%;
	max-width: 300px;
	height: auto;
  }

/*tablet query*/
@media (min-width: 768px) {
  .intro {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    text-align: left;
  }

  .cta-heading {
    justify-content: flex-start;
  }
}

/*laptop or desktop query*/
@media (min-width: 768px) {
  .benefits-grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .benefit-card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .topnav {
    flex-direction: column;
    align-items: center;
  }

  .topnav a {
    padding: 10px;
    width: 100%;
  }
}

/*clear floats*/
.clear {
	clear: both;
}
