@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body {
	background-color: #E6E2BD;
	color: #0F2503;	
}

/*main heading*/
h1 {
	font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
	text-align: center;
	color: #133200;
}

.subtitle {
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 333px;
  	font-style: italic;
	color: #2E2C29;
}

/*headings*/
h2, h3 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 390;
  font-style: italic;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
	text-align: left;
	color: #133200;
	padding-top: 90px
}

/*body paragraphs*/
section p {
  	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 333px;
  	font-style: normal;
	line-height: 1.6;
	text-align: justify;
	color: #2E2C29;
}

/*containers*/
#container {
	width: 1000px;
	margin: 0 auto;
	background-color: #FFF6FC;
	border: 2px solid #8F99FB;
	border-radius: 8px;
	padding: 40px;
}

/*header*/
header {
	font-family: "Andale Mono", monospace;
	text-align: center;
}

header > h1 {
	margin: 0;
}

.subtitle {
	color: #FFF6FC;
	display: none;
}

header:hover .subtitle {
    display: block;
}

/*navigation bar*/
.topnav {
  background-color: #CCC6B9;
  overflow: hidden;
}

.topnav a:link {
 	float: right;
 	color: #FFF;
 	text-align: center;
 	padding: 14px 16px;
 	text-decoration: none;
	font-family: "Andale Mono", monospace;
 	font-size: 17px;
}

/*change the color of links on hover */
.topnav a:hover {
  background-color: #8F99FB;
  color: #FFF;
}

/*add a color to the active/current link */
.topnav a:active {
  background-color: #0F2503;
  color: white;
}

/*how the link will look when visited*/
.topnav a:visited {
	color: #FFD1F9;
}


/*images (layout and size)*/
.img-left {
	float: left;
	width: 400px;
	height: 400px;
	margin-right: 40px;
	border-radius: 11px;
	border: hidden;
}

.img-right {
	float: right;
	width: 400px;
	height: 400px;
	margin-left: 40px;
	border-radius: 11px;
	border: hidden;	
}

/*footer*/
footer {
	position: relative;
    text-align: center;
    border-top: 2px solid #0F2503;
    padding-top: 10px;
    background-color: #CCC6B9;
    color: #FFF;
}

/*clear floats*/
.clear {
	clear: both;
}
