@charset "utf-8";
/* CSS Document */

/*custom font*/
 @font-face { font-family: "Editors Note Text"; src: url("fonts/Editor'sNoteText-Thin.otf"); } 
 @font-face { font-family: "Editors Note Text"; font-weight: thin; src: url("fonts/Editor'sNoteText-Thin.otf");}

*{
	box-sizing: border-box;
}

body {
	background-color: #EEEBE4;
}

header > h1 {
	margin-top: 2px;
}

/*navigation bar*/
.topnav {
 	background-color: #F2C9E8;
 	overflow: hidden;
	margin-left: auto;
	border-radius: 0;
	
	
	display: flex;
	flex-direction: row;
 	justify-content: flex-end;
}

.topnav a:link {
 	color: black;
 	text-align: center;
 	padding: 15px 16px;
 	text-decoration: none;
	font-family: "DM Sans", sans-serif;
 	font-size: 18px;
}

/*change the color of links on hover */
.topnav a:hover {
	color: black;
	text-decoration: underline;
}

/*add a color to the active/current link */
.topnav a:active {
  background-color: #0F2503;
  color: white;
}

/*how the link will look when visited*/
.topnav a:visited {
	color: black;
	text-decoration: underline;
}
/*main heading*/
h1 {
	font-family: "Editors Note Text", "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
	font-size: 36px;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
	text-align: left;
	color: #133200;
}

/*headings*/
h2 {
  font-family: "Editors Note Text", "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 390;
  font-style: normal;
	font-size: 30px;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
	text-align: left;
	color: #133200;
	padding-top: 10px
}

h3 {
	font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 390;
  font-style: normal;
	font-size: 20px;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
	text-align: left;
	color: #133200;
	padding-top: 10px
}

/*body paragraphs*/
section p {
  	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 333px;
  	font-style: normal;
	line-height: 1.6;
	text-align: justify;
	color: #2E2C29;
}

/*containers*/
#container {
	max-width: 1100px;
	margin: 0 auto;
	background-color: transparent;
	border: none;
	border-radius: 8px;
	padding: 40px;
}

/*images (layout and size)*/
.pick-matcha .content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.pick-matcha img {
  width: 300px;
  border-radius: 12px;
}

/*table style properties*/
.table-caption {
	color: black;
	font-style: bold;
}

.tools-table {
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 300;
  	font-style: normal;
	line-height: 1.6;
	text-align: center;
	color: white;
	
	background-color: #87A47A;
	border-style: none;
	border-radius: 20px;
	
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

/*images inside the table*/
.tools-table img {
  max-width: 150px;
  height: auto;
}

/*matcha preparation steps button*/
#prep-button {
	font-family: "Fraunces", serif;
  	font-optical-sizing: auto;
  	font-weight: 300;
  	font-style: normal;
  	font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

#prep-steps {
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 300;
  	font-style: normal;
	line-height: 1.6;
	text-align: justify;
	color: #2E2C29;
}

.hidden {
  display: none;
}

.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/*list properties*/
.fav-matcha {
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 300;
  	font-style: normal;
	line-height: 1.6;
	text-align: justify;
	color: #2E2C29;
	align-content: center;
}

/*fav matcha link properties*/
ol a {
  color: #36522A;
  text-decoration: none; 
  font-weight: 500;
}

ol a:hover {
  color: #F2C9E8;
  text-decoration: underline;
}


p {
  	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
	font-weight: 400;
  	font-style: normal;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: white;
}

/*footer*/
footer {
	position: relative;
    text-align: center;
    border-top: 2px;
    padding-top: 8px;
	padding-bottom: 8px;
    background-color: #172C0D;
    color: #FFF;
}

.footer {
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*mobile query*/
@media (max-width: 600px) {
  .pick-matcha .content {
    flex-direction: column;
    text-align: center;
  }

  .pick-matcha img {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 28px;
  }

  .img-center {
    width: 100%;
    height: auto;
  }
}

/*tablet query*/
@media (min-width: 768px) {
  .pick-matcha .content {
    flex-direction: row;
  }

  .cta-heading {
    justify-content: flex-start;
  }
}

/*laptop or desktop query*/
@media (min-width: 1024px) {
  h1 {
    font-size: 48px;
  }

  .intro {
    gap: 80px;
  }
}

