@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}

body {
	background-color: #EDC3CD;
	color: #0F2503;
}

header > h1 {
	margin-top: 2px;
}

/*navigation bar*/
.topnav {
 	background-color: #36522A;
 	overflow: hidden;
	margin-left: auto;
	border-radius: 6px;
	
	
	display: flex;
 	justify-content: flex-end;
}

.topnav a:link {
 	float: right;
 	color: #FFF;
 	text-align: center;
 	padding: 14px 16px;
 	text-decoration: none;
	font-family: "Andale Mono", monospace;
 	font-size: 17px;
}

/*change the color of links on hover */
.topnav a:hover {
  background-color: #8F99FB;
  color: #FFF;
}

/*add a color to the active/current link */
.topnav a:active {
  background-color: #0F2503;
  color: white;
}

/*how the link will look when visited*/
.topnav a:visited {
	color: #FFDCE2;
}

/*main heading*/
h1 {
	font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
	text-align: left;
	color: #133200;
}

/*headings*/
h2, h3 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 390;
  font-style: italic;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
	text-align: left;
	color: #133200;
	padding-top: 10px
}

/*body paragraphs*/
section p {
  	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 333px;
  	font-style: normal;
	line-height: 1.6;
	text-align: justify;
	color: #2E2C29;
}

/*containers*/
#container {
	width: 1800px;
	margin: 0 auto;
	background-color: #FFF6FC;
	border: 2px solid #8F99FB;
	border-radius: 8px;
	padding: 40px;
}

/*images (layout and size)*/
.img-right {
	float: right;
	width: 300px;
	height: 300px;
	margin-right: 20px;
	border-radius: 11px;
	border: hidden;
}

/*table style properties*/
.tools-table {
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 333px;
  	font-style: normal;
	line-height: 1.6;
	text-align: center;
	color: #2E2C29;
	
	background-color: #E6E2BD;
	border-style: none;
	
	width: 60%;
	padding-left: 50px;
	padding-top: 15px;
	margin: 0 auto;
}

/*images inside the table*/
img {
	width: 200px;
}

/*matcha preparation steps button*/
#prep-button {
	font-family: "Fraunces", serif;
  	font-optical-sizing: auto;
  	font-weight: 390;
  	font-style: normal;
  	font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

#prep-steps {
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 333px;
  	font-style: normal;
	line-height: 1.6;
	text-align: justify;
	color: #2E2C29;
}

.hidden {
  display: none;
}

.matcha-video {
	display: block;
	float: none;
	padding-top: 20px;
}

/*list properties*/
.fav-matcha {
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 333px;
  	font-style: italic;
	line-height: 1.6;
	text-align: justify;
	color: #2E2C29;
	align-content: center;
}

/*fav matcha link properties*/
ol a {
  color: #36522A;
  text-decoration: none; 
  font-weight: 500;
}

ol a:hover {
  color: #8F99FB;
  text-decoration: underline;
}


/*footer*/
footer {
	position: relative;
    text-align: center;
    border-top: 2px;
    padding-top: 10px;
	padding-bottom: 10px;
    background-color: #CCC6B9;
    color: #FFF;
}
